// =========== Layout

.l-full {
    @include grid-container;

    @media (min-width: $breakpoint-20) {
        @include grid(48, 1);
        float: none;
    }
}

.l-two-third {

    @media (min-width: $breakpoint-20) {
        @include grid(32, 1);
    }
}

.l-half {
    @include grid-container;

    @media (min-width: $breakpoint-20) {
        @include grid(24, 1);
    }

    &.has-no-spacing {
        @media (min-width: $breakpoint-20) {
            @include grid(24);
        }
    }
}

.l-one-third {

    @media (min-width: $breakpoint-20) {
        @include grid(16, 1);
    }
}

.l-single {
    @media (min-width: $breakpoint-10) {
        @include grid(48, 1);
    }

    @media (min-width: $breakpoint-20) {
        @include grid(48, 2);
    }

    @media (min-width: $breakpoint-30) {
        @include grid(48, 3);
    }

    @media (min-width: $breakpoint-40) {
        @include grid(48, 7);
    }
}

.l-grid {
    margin: 0 0 $spacing 0;
    @include grid-container;
    
    @media (min-width: $breakpoint-10) { 
        @include grid(48, -0.25);
    }

    > li {
        margin-bottom: 0.52083%*2;

        @media (min-width: $breakpoint-10) {
            @include grid(24, 0.25);

            &:nth-child(2n+1) {
                clear: left;
            }
        }

        @media (min-width: $breakpoint-30) {
            @include grid(16, 0.25);

            &:nth-child(2n+1) {
                clear: none;
            }

            &:nth-child(3n+1) {
                clear: left;
            }
        }

        @media (min-width: $breakpoint-50) {
            @include grid(12, 0.25);

            &:nth-child(2n+1),
            &:nth-child(3n+1) {
                clear: none;
            }

            &:nth-child(4n+1) {
                clear: left;
            }
        }
    }
}

.l-grid-huge {
    @include grid-container;
    @include grid(48, -1);

    > li {
        
        @include grid(16, 1);
        
        @media (min-width: $breakpoint-20) {
            @include grid(9.6, 1);
        }
    }


}

.l-grid-is-half {
    @include grid-container;
    @include grid(48, -0.25);

    > li {
         margin-bottom: 0.52083%*2;

         @media (min-width: $breakpoint-10) {
            @include grid(24, 0.25);

            &:nth-child(2n+1) {
                clear: left;
            }
        }
    }
}

.l-first {
    clear: left;
}

.l-left {

    @media (min-width: $breakpoint-10) {
        float: left;
    }
}

.l-right {

    @media (min-width: $breakpoint-10) {
        float: right;
    }
}

div.l-container {
    margin: auto;
    max-width: $max-width;
    padding: $spacing 1rem;
    @include grid-container;

    @media (min-width: $breakpoint-10) {
        padding: $spacing * 2 $spacing;
    }


    @media (min-width: $breakpoint-30) {
        padding: $spacing * 2;
    }

    &.is-slim {
        padding: 1.25rem 1rem;

        @media (min-width: $breakpoint-20) {
            padding: $spacing  $spacing * 2;
        }

    }
}


ul.l-stacked {
    margin: 0 0 $spacing 0;

    li {
        margin-top: 1.125rem;
        display: block;

        &:first-child {
            margin-top: 0;
        }
    }
}