
ul.breadcrumbs {
    list-style: none;
    vertical-align: top;
    margin: 0;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    li {
        display: inline-block;
        padding: 0 1rem;
        position: relative;
        font-size: $font-size-5;
        text-transform: uppercase;

        @media (min-width: $breakpoint-20) {
            font-size: $font-size-10;
        }


        &:before {
            content: '';
            left: -2px;
            top: 0;
            bottom: 0;
            z-index: 1;
            position: absolute;
            background: $color-neutral-50;
            width: 1px;
            transform: skew(-15deg);
        }

        &:first-child:before {
            display: none;
        }
    }

    a {
        color: $black;

        &:before {
            display: none;
        }

        &:hover {
            color: $color-brand-50;
        }

        &:active {
            color: $color-brand-60;
        }
    }
}