div.contactbar {
    text-align: center;
    border-top: 1px solid $color-neutral-30;
}

a.contactbar--call {
    color: $color-neutral-90;

    &:before {
        display: none;
    }
}

ul.contactbar--address {
    list-style: none;
    vertical-align: top;
    display: none;
    margin: 0;
    position: relative;
    padding-top: 0.5rem;

    @media (min-width: $breakpoint-30) {
        display: inline-block;
        float: right;
    }

    li {
        display: inline-block;
        padding: 0 1rem;
        position: relative;
        font-size: $font-size-30;

        &:before {
            content: '';
            left: 0;
            top: 0;
            bottom: 0;
            z-index: 1;
            position: absolute;
            background: $color-neutral-50;
            width: 1px;
            transform: skew(-15deg);
        }

        &:first-child:before {
            display: none;
        }
    }
}