.footer {
    background: $white;
    border-top: 1px solid $color-neutral-30;
}

 ul.navigation-footer {
    @include grid-container;
    margin: 0;

    @media (min-width: $breakpoint-20) {
        @include grid(48, -1);
    }

    @media (min-width: $breakpoint-40) {
        text-align: center;
    }

    > li {
        display: block;
        text-align: left;
        margin-bottom: 2.08333% * 3;

        &:hover {
            h6:before { 
                transition: width 0.1s ease;
                width: 100%;
            }
        }

        @media (min-width: $breakpoint-10) {
            @include grid(24, 1);

            &:nth-child(2n+1) {
                clear: left;
            }
        }

        @media (min-width: $breakpoint-20) {
            @include grid(16, 1);

            &:nth-child(2n+1) {
                clear: none;
            }

            &:nth-child(3n+1) {
                clear: left;
            }
        }

        @media (min-width: $breakpoint-40) {
            float: none;
            display: inline-block;
            margin-bottom: 0;
            width: 15%;

            &:nth-child(3n+1),
            &:nth-child(2n+1) {
                clear: none;
            }
        }
    }

    ul.navigation-footer--list {
        @include grid-container;
        margin: 0;
        padding-top: 1rem;
        display: block;
        

        @media (min-width: $breakpoint-20) {
            @include grid(48, -1);
            margin-bottom: 2.08333%*2;
        }

        li {
            display: block;
            margin-top: 1rem;
            color: $color-neutral-60;
            font-size: $font-size-10;

            &:first-child {
                margin-top: 0; 
            }
        }

        a {
            text-transform: none;
            font-weight: normal;
            text-shadow: 0 0 0;
            padding: 0;
            
            color: $color-neutral-60;

            &:hover {
                color: $color-brand-50;
            }

            &:before {
                display: none;
            }
        }
    }
}

h6.navigation-footer--title {
    display: block;
    text-transform: uppercase;
    color: $black;
    letter-spacing: 1px;
    word-spacing: 0.04em;
    font-size: $font-size-15;
    margin-bottom: 0.85rem;
    position: relative;
    text-align: left;

    &:before {
        content: '';
        border-top: 2px solid $color-neutral-30;
        position: absolute;
        left: 0;
        bottom: -1.063em;
        width: 3em;
    }

    a {
         color: $black;

         &:before {
            display: none;
         }
    }
}