header.header {
    text-align: center;
    transform: translateZ(0);
    will-change: transform;
    position: relative;
    z-index: $z-index-10;

    &.is-small {

        div.l-container {
            padding-bottom: 0;
        }

        .primary-navigation-wrapper {
            margin-bottom: 0.5rem;


            @media (min-width: $breakpoint-10) {
                padding-bottom: 2.65rem;
            }
        }
    }

    &:before {
        background: rgba($black, 0.2);
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: $z-index-10;
    }

    div.l-container {
        z-index: $z-index-20;
    }
}

div.header--content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    color: $white;
    z-index: $z-index-10;

    @media (min-width: $breakpoint-10) {
        padding-top: $spacing;
        padding-bottom: $spacing;
    }

    @media (min-width: $breakpoint-20) {
        padding-top: 3rem;
        padding-bottom: 3rem;   
    }


    div.l-single {
        max-width: 50%;
        float: none;
    }
}

div.header--title {
    position: relative;
    background: $white;
    z-index: $z-index-10;

    h1 {
        font-weight: normal;
        font-size: 1.125em;
        line-height: 1.11111111em; 

        @media (min-width: $breakpoint-20) {
             font-size: 1.125em; 
             line-height: 1.25em;
        }

        @media (min-width: $breakpoint-30) {
             font-size: 1.25em; 
             line-height: 1.25em;
        }   
    }
}


figure.header--background {
    position: absolute;
    overflow: hidden;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-animation: header--background 1s ease;
    transform-origin: center bottom;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    z-index: 1;
    overflow: hidden;
}

div.logo-large {
    display: inline-block;
    position: relative;
    z-index: $z-index-30;
    margin-bottom: $spacing;
    top: -0.25em;

    a {
        display: block;
        border: 0;
        background-size: 100%;
        color: $white;
        top: 0.5em;
        width: 13.25em;
        height: 3.9375em;
        position: relative;

        @media (min-width: $breakpoint-30) {
            width: 27.500em;
            height: 7.875em;
        }

        &:before {
            display: none;
        }

        svg {
            fill: $black;
            display: inline-block;
            width: 13.25em;
            height: 3.9375em;
            position: relative;

            @media (min-width: $breakpoint-30) {
                width: 27.500em;
                height: 7.875em;
            }
        }

        @media (min-width: $breakpoint-30) {
            top: 0.75em;
        }

        &:hover {
            svg {
                fill: $color-brand-50;
            }
        }

    }
}