div.popout-navigation {
    position: absolute;
    left: 0;
    display: inline-block;
    background: $white;
    padding: 0.5em;
    width: 100%;
    z-index: 100;
    top: 3.7em;
    display: none;

    &.is-open {
        display: block;
    }

    &.has-no-sub {
        width: auto;
    }
    &.has-no-sub ul {
        width: 100%;
        float: none;

        li.popout-title {
            border: 0;
            margin: 0;
        }

        li.popout-title a { border-radius: 2px; }
    }

    span.popout-navigation-arrow {
        content: " ";
        position: absolute;
        top: -0.35em;
        //left: 2.2em;

        border-top: 0;
        border-left: 0.4em solid transparent;
        border-right: 0.4em solid transparent;
        border-bottom: 0.4em solid $white;
    }


    a {
        color: lighten($black, 27%);
        display: block;
        clear: both;
        font-size: 0.9em;
        font-weight: 500;
        margin: 1px;
        padding: 0.35em 1.5em 0.35em 0.5em;

        &:hover {
            background: lighten($black, 83%);
            color: $black;
        }
    }

    li.popout-title {
        border-bottom: 2px solid lighten($black, 78%);
        font-weight: bold;
        color: lighten($black, 17%);
        margin-bottom: 0.25em;

        a {
            padding: 0.35em 1.5em 0.35em 0.5em;
            margin-bottom: 0;
            margin-bottom: 0.25em;
            font-weight: bold;

            span { font-size: 1.1em; }
        }
    }

    li.is-selected a {
        background: lighten($black, 83%);
        color: $black;
    }
}