#toggle-navigation-mobile {
    position: relative;
    top: 6px;
    float: right;
    right: 0;
    padding-right: 1.75rem;
    z-index: $z-index-30;

    &:before {
        display: none;
    }

    @media (min-width: $breakpoint-10) {
        top: 8px;
    }

    div.toggle--message {
        color: $black;
        text-transform: uppercase;
        border: 0;
        font-size: $font-size-10;
        font-weight: bold;
        position: relative;
        top: 1px;
    }

}

div.toggle {
    background-color: transparent;
    outline: 0;
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 2px;
    z-index: $z-index-30;

    @media (min-width: $breakpoint-10) {
        top: 1px;
    }

    &:before {
        display: none;
    }

    &:hover {

        .line {
            left: 0;

            &:first-child {
                opacity: 1;
                top: -1px;
            }

            &:last-child {
                opacity: 1;
                top: 1px;
            }
        }

    }
}

div.line {
    position: relative;
    top: 0;
    opacity: 1;
    background-color: $black;
    margin: 4px;
    height: 2px;
    width: 16px;
    transform-origin: center center;
    transition: transform 100ms linear 0ms, top 150ms linear 0ms, opacity 75ms linear 0ms;
}

.navigation-mobile {
    position: absolute;
    transform: scale(0);
    padding-top: 0;
    padding-bottom: 5rem;
    transform-origin: 50% 50% 0;
    background: rgba($color-neutral-90, 0.95);
    z-index: $z-index-20;
    top: $spacing;
    left: 0;
    padding: 1rem;
    height: 100%;
    right: 0;
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    -webkit-overflow-scrolling: touch;

    @media print { display: none; }

    ul {
        margin: 0;
        width: 100%;
        position: relative;
        transition: all 0.15s ease 0;
    }

    &.is-open {
        transform: scale(1);
        visibility: visible;
        opacity: 1;

        li {
            animation: mobile-navigation-list-animation 0.25s cubic-bezier(.19, 1, .22, 1) 0.05s forwards;
            -webkit-animation: mobile-navigation-list-animation 0.25s cubic-bezier(.19, 1, .22, 1) 0.05s forwards;
            animation-fill-mode: both;
            backface-visibility: hidden;

            &:nth-child(2) {
                animation-delay: 0.1s;
            }

            &:nth-child(3) {
                animation-delay: 0.15s;
            }

            &:nth-child(4) {
                animation-delay: 0.2s;
            }

            &:nth-child(5) {
                animation-delay: 0.25s;
            }

            &:nth-child(6) {
                animation-delay: 0.3s;
            }

            &:nth-child(7) {
                animation-delay: 0.35s;
            }

            &:nth-child(8) {
                animation-delay: 0.4s;
            }

            &:nth-child(9) {
                animation-delay: 0.45s;
            }

            &:nth-child(10) {
                animation-delay: 0.5s;
            }
        }

        div.l-container {
            height: 100vh;
        }

        div.l-single {
            position: relative;

            @media (min-width: $breakpoint-10) {
                top: calc(50% - 5rem);
                transform: translateY(-50%);
            }
        }
    }

    li {
        display: block;
        padding: 1rem 0;
        position: relative;
        opacity: 0;
        border-top: 1px solid $color-neutral-80;
        box-shadow: 0 2px 0 rgba($color-neutral-90, 0.95); 

        &.is-selected {
            color: $white;
            background: $black;
        }

        &:first-child {
            border-top: 0;
        }
    }

    a {
        padding: 0.75rem 1rem;
        font-size: $font-size-15;
        color: $white;
        position: relative;
        z-index: $z-index-30;
        border-bottom: 0;
        letter-spacing: 0.5px;
        font-family: $font-family-heading;
        line-height: 1.25em;
        text-transform: uppercase;
        display: block;
        font-weight: bold;
        transition: background 0.15s ease;

        &:before {
            display: none;
        }
    }
}

body.is-locked {
    overflow: hidden;

    .primary-navigation-wrapper {
        z-index: 999;
        border: 0;
        box-shadow: 0 0 0;
    }

    #toggle-navigation-mobile {

    }

    div.toggle--message {
        top: 1px;
    }

    .toggle {
        &:hover .line {
            left: 0;
        }

        div.line {
            opacity: 0;

            &:first-child {
                opacity: 1;
                top: 6px;
                transform: rotate(45deg);
            }

            &:last-child {
                opacity: 1;
                top: -6px;
                transform: rotate(-45deg);
            }
        }
    }
}

@keyframes mobile-navigation-list-animation {
    0% {
        opacity: 0;
        transform: scale(0.95) translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@-webkit-keyframes mobile-navigation-list-animation {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.95) translateY(-50px);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(0);
    }
}



ul.navigation-mobile--children {
    li {
        display: block;
        margin-top: 0;
        border: 0;
        padding: 0;
        box-shadow: 0 0 0;

        &:before {
            margin-top: 0;
        }

        a {
            color: rgba($white, 0.4);
            text-transform: none;
            font-weight: normal;
            text-shadow: 0 0 0;
            padding: 0.5rem 1rem;
            font-size: $font-size-10;

            &:before {
                display: none;
            }

            &:hover {
                color: $color-brand-50;
            }

            &:active {
                color: $color-brand-60;
            }
        }
    }
}
