div.payment-icons {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding-top: 1.063rem;

    ul {
        width: 100%;
        margin: 0 0 $spacing 0;

        @media (min-width: $breakpoint-10) {
            margin: 0 0 4rem 0;
        }
    }

    li {
        background: url(../images/payments-icons.svg) no-repeat;
        background-size: 100%;
        background-size: 15.05rem;
        height: 31px;
        vertical-align: middle;
        height: 1.55rem;
        display: inline-block;
        margin: 0 0.5rem;

        @media (min-width: $breakpoint-10) {
            height: 3.1rem;
            background-size: 30.1rem;
            margin: 0 1rem;
        }

        &.thuiswinkel {
            width: 1.55rem;

            @media (min-width: $breakpoint-10) {
                width: 3.1rem;
            }
        }

        &.ideal {
            background-position: -13.6rem 0;
            width: 1.5rem;

            @media (min-width: $breakpoint-10) {
                width: 3rem;
                background-position: -27.3rem 0;
            }
        }

        &.mastercard {
            background-position: -5.65rem 0;
            width: 2.35rem;

            @media (min-width: $breakpoint-10) {
                width: 4.7rem;
                background-position: -11.3rem 0;
            }
        }

        &.visa {
            background-position: -8.45rem 0.1rem;
            width: 57px;
            width: 2.85rem;

            @media (min-width: $breakpoint-10) {
                width: 5.7rem;
                background-position: -16.9rem 0.3rem;
            }
        }

        &.paypal {
            background-position: -39px 2px;
            background-position: -1.95rem 0.1rem;
            width: 65px;
            width: 3.25rem;

            @media (min-width: $breakpoint-10) {
                width: 6.5rem;
                background-position: -3.9rem 0.2rem;
            }
        }

        &.postnl {
            background-position: -236px 0;
            background-position: -11.8rem 0;
            width: 27px;
            width: 1.35rem;

            @media (min-width: $breakpoint-10) {
                width: 2.7rem;
                background-position: -23.6rem 0;
            }
        }
    }
}