div.persuasion-wrapper {
    position: relative;
    z-index: $z-index-20;

    .button {
        margin-bottom: 1rem;
    }
}

p.persuasion-wrapper--message {
    display: inline-block;
    vertical-align: top;
    margin: 0 0.5rem $spacing 0;
    font-family: $font-family-heading;
    position: relative;
    top: 0.25rem;
    
    @media (min-width: $breakpoint-10) {
        top: 0.65rem;
        margin: 0 $spacing $spacing 0;
    }

    @media (min-width: $breakpoint-30) {
        top: 0.4rem;
    }
}

p.persuasion-wrapper--comfort-message {
    margin-bottom: 0;
}

span.persuasion-wrapper--star {
    color: rgba($white, 0.5);
    vertical-align: top;
    margin: 0 0.15rem 0.15rem 0.15rem;
    position: relative;
    top: -0.25rem;
}