div.signup-wrapper {
    background: $white;
    border-radius: $border-radius-20 $border-radius-20 0 0;
    position: relative;
    padding: 1rem 1rem 0 1rem;
    top: -4.25rem;
    margin-bottom: -3rem;

    @media (min-width: $breakpoint-10) {
        top: -8rem;
        margin-bottom: -6.85rem;
        padding: $spacing $spacing 0 $spacing;
    }
      
    @media (min-width: $breakpoint-20) {
        @include grid(48, 1);
        padding: 3rem 3rem 0 3rem;
    }

    @media (min-width: $breakpoint-30) {
        @include grid(48, 2);
        //top: -10.5rem;
        top: -7.85rem;
        
    }

    @media (min-width: $breakpoint-40) {
        @include grid(48, 3);
    }

    h1 {
        font-size: 1.75em; 
        line-height: 1.25em;
        padding-top: 0;

        @media (min-width: $breakpoint-20) {
             font-size: 2.5em; 
             line-height: 1.125em;
        }

        @media (min-width: $breakpoint-30) {
             font-size: 2.75em; 
             line-height: 1.063em;
        }
        @media (min-width: $breakpoint-40) {
             font-size: 3em; 
             line-height: 1.05em;
        }
    }
}
