// =========== Buttons

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

%button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: $border-radius-10;
    cursor: pointer;
    display: inline-block;
    font-family: $font-family-actions;
    font-size: $font-size-30;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 500;
    line-height: 1.5em;
    margin: 0 0 0.25rem 0;
    text-align: center;
    padding: 0.55rem 1.25rem 0.55rem 1.25rem;
    text-decoration: none;
    vertical-align: bottom;
    position: relative;
    z-index: 2;
    letter-spacing: 1px;
    text-transform: uppercase;

    &:focus, &:hover {
        outline: 0;
    }

    &:before {
        display: none;
    }

    svg.icon.is-inline  {
        fill: $white;
        top: 0.2rem;
        margin: 0 0.5rem 0 0;
    }

    &.is-large {
        font-size: $font-size-50;
        padding: 0.75rem 2.25rem 0.75rem 2.25rem;
    }
}

// The standard button has the $color-brand colors
.button,
input[type=submit],
button,
 {
    @extend %button;
    color: $black;
    background: none;
    background: $color-tint-50;

    &:hover {
        color: $white;
    }

    &:active,
    &:focus {
        box-shadow: inset 0 1px 3px rgba($black, 0.2);

    }
}

.button--line,
input[type=submit].button--line,
button.button--line {
    @extend %button;
    color: $white;
    background: none;
    border: 2px solid $white;

    &:before {
       
    }

    &:hover {
        color: $white;
        background: rgba($white, 0.1);
    }

    &:active,
    &:focus {

            box-shadow: inset 0 1px 3px rgba($black, 0.2);
    }
}

.button--accentuate,
input[type=submit].button--accentuate,
button.button--accentuate {
    @extend %button;
    color: $white;
    text-shadow: 0 1px 2px rgba($black, 0.15);


    &:hover {
        color: $white;
    }

    &:active,
    &:focus {

    }
}




.button--neutral,
input[type=submit].button--neutral,
button.button--neutral {
    @extend %button;

    background: $color-neutral-10;
    color: $color-neutral-70;
    text-shadow: 0 0 0;

    &:hover {
        background: $color-neutral-30;
        color: $color-neutral-90;
    }

    &:active,
    &:focus {
        color: $white;
        background: $color-neutral-90;
        box-shadow: inset 0 1px 3px rgba($black, 0.2);
    }
}

.button--success,
input[type=submit].button--success,
button.button--success {
    @extend %button;
    background-color: $color-success-50;
    color: $white;

    &:hover {
        background-color: $color-success-60;
        color: $white;
    }

    &:active,
    &:focus {
        box-shadow: inset 0 1px 3px rgba($black, 0.2);
    }
}

.button--alert,
input[type=submit].button--alert,
button.button--alert {
    @extend %button;
    background-color: $color-alert-50;
    color: $white;

    &:hover {
        background-color: $color-alert-60;
        color: $white;
    }

    &:active,
    &:focus {
        box-shadow: inset 0 1px 3px rgba($black, 0.2);
    }
}

div.buttons {
    width: 100%;
    display: inline-block;
    

    .button--line {
        margin: 0.25rem;
    }
}
