// =========== Icons

svg.icon {
    height: 16px;
    width: 16px;
    display: inline-block;

    &.is-inline {
        position: relative;
        top: 0.15rem;
        margin: 0 0.25rem;
    }

    &.flag {
        top: 0.25rem;
        margin: 0 0.5rem;
        border-radius: $border-radius-10;
    }
}

div.content-has-large-icon {
    position: relative;
    padding: 0;

    @media (min-width: $breakpoint-10) {
        padding: 0 37% 0 0;
    }
}

svg.cart-icon {
}

svg#cart {

    fill {
        color: $white;
    }
}

.call-icon {
    position: relative;
    top: 0.1rem;
    left: 0.3rem;
    margin: 0 0.5rem 0 0;
}

