div.search {
    position: absolute;
    top: 0;
    left: 75px;
    right: 10rem;
    bottom: 0;


    input[type=search], 
    input {
        border: 0;

        &:focus {
            background: $white;
        }
    
        @media (min-width: $breakpoint-20) {
            padding: 1rem;
            font-size: 1.25rem;
        }
    }
}