// =========== Tables

table {
    border: 1px solid $color-neutral-50;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: $spacing;
    width: 100%;
    font-size: 0.938em;
}

thead th {
    background: $white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    text-align: left;
}

tbody tr:nth-child(2n+2) { background: $color-neutral-10; }

tbody td {
    border-left: 1px solid $color-neutral-30;
    border-top: 1px solid $color-neutral-30;
    padding: 0.5rem 1rem;
    font-weight: 400;
    
    &:first-child { border-left: 0; }
}
